/* header desing */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 15px 10%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}

header.sticky {
  background-color: var(--bg-color);
  border-bottom: 1px solid #ffffff1a;
  padding: 12px 10%;
}

.logo {
  min-width: 145px;
  color: var(--text-color);
  font-family: RockwellRegular, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.logo span {
  font-family: RockwellRegular, sans-serif;
  color: var(--accent-color);
}

.logo:hover {
  color: var(--hover-color);
  transform: scale(.95);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 400;
  margin: 0 2px;
  padding: 7px 23px;
  transition: all .45s ease;
}

.navlist a:last-child {
  padding-right: 0;
}

.navlist span {
  color: var(--accent-color);
}

.navlist a:hover {
  color: var(--hover-color);
}

.navlist a.active {
  color: var(--yellow-color);
}

.bgr-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.bgr-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: var(--accent-color);
  transition: all .45s ease;
}

.bgr-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.bgr-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.active span:nth-of-type(1) {
  display: none;
}

.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(50%, 0%) rotate(45deg);
}

.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(50%, 0%) rotate(-45deg);
}

@media (max-width: 1480px) {
  header {
    padding: 12px 5%;
    transition: .1s;
  }

  header.sticky {
    padding: 12px 5%;
    transition: .1s;
  }
}

@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--bg-color);
    text-align: left;
    transition: all 1s ease;
  }

  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: var(--text-color);
  }

  .navlist.open {
    top: 100%;
  }
}